@{
    ViewData["Title"] = "Home Page";
    var shinobi = Datastore.GetRandomQuotes();
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shinobi Quotes</h1>
    <div class="card" style="margin: 40px; background-color: #220F2D; color: #fff; background-position: center; background-size: cover;">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body flex">
            <blockquote class="blockquote mb-0">
                <p>"@shinobi.Quotes"</p>
                <footer class="blockquote-footer">@shinobi.Author in <cite title="Source Title">Naruto Shippuden</cite></footer>
                <div class="align-content-center">
                    <img src="@shinobi.ImageLink" style="border-radius: 50%; width: 100px; height: 100px;" />
                </div>
            </blockquote>
        </div>
    </div>
</div>